@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Stanje skladišta</h1>
        <form>
            @foreach (var artikal in Model)
            {<div class="card bg-light mb-3 w-50" style="margin-left:260px;">
                    <div class="card-body">
                        <h3 style="font-family:'Calisto MT'; " class="card-title">@artikal.Naziv</h3>
                        <h5 class="card-title">Količina: @artikal.Kolicina</h5>

                        <button class="btn btn-primary" type="submit" value="Add" asp-action="Index" asp-controller="Ulaz" asp-route-id="@artikal.Id">Dodaj</button>
                        <button class="btn btn-primary" type="submit" valie="Add" asp-action="Index" asp-controller="Izlaz" asp-route-id="@artikal.Id">Oduzmi</button>
                    </div>
                </div>
            }
        </form>
    </div>
